html,
body, 
.forgot-pass, 
.signin,
.reset-pass {
  height: 100%;
}

body{
    overflow-y: scroll;
}
.signin {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#form-group {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  -moz-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"], #basic-addon1 {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"], #basic-addon2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.input-group>.input-group-prepend {
    flex: 0 0 14%;
}
.input-group .input-group-text {
    width: 100%;
   
}

.input-group-text i{
  margin:auto;
}

/* admin dashboard */

.page {
  overflow-x: hidden;
  overflow-y: hidden;


}



nav.side-navbar {
  background: #fff;
  min-width: 270px;
  max-width: 270px;
  color: #686a76;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 9;
  height: 100%;
  position: fixed;
  top:70px;
}

nav.side-navbar a {
  color: inherit;
  position: relative;
  font-size: 0.9em;
}


nav.side-navbar a i {
  font-size: 1.2em;
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}



nav.side-navbar .sidebar-header {
  padding: 60px 15px;
}

nav.side-navbar .avatar {
  width: 60px;
  height: 60px;
}

nav.side-navbar .title {
  margin-left: 10px;
}

nav.side-navbar .title h1 {
  color: #333;
  font-size: 20px;
}

nav.side-navbar .title p {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 0;
  color: #aaa;
}

nav.side-navbar ul li span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 19px;
  transition: transform 0.4s;
}
nav.side-navbar ul li span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}



nav.side-navbar ul {
  padding: 15px 0;
}

nav.side-navbar ul li {
  /* submenu item active */
}


nav.side-navbar ul li a {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size:19px;
  border-left: 4px solid transparent;

}



.content-inner {
  position: relative;
  width: calc(100% - 270px);
  min-height:calc(100vh - 3px);
  background-color:#F5F5F5;
  float:right;
  top:70px;

}
 
.adduser{
  background-color: #800000;
  

}

#UsersTable{
  background-color: #fff;
  padding: 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  -moz-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  min-width: calc(100% - 350px);

}






nav.side-navbar ul li a:hover {
  background: #800000;
  color: #fff;
}


nav.side-navbar ul li li a {
  padding-left: 50px;
  background-color: #EEF5F9;
 
}


nav.side-navbar ul li.active > a {
  border-left: 4px solid #800000;
  background-color: #f5f5f5;
}

nav.side-navbar ul li.active > a:hover {
  background: #800000;
}



nav.side-navbar ul li ul {
  padding: 0px;
}




nav.navbar {
  background: #800000;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding-left: 0;
  padding-right: 0;
  max-height:75px;
  position:fixed;
  top:0;
  width:100%;
}


nav.navbar a {
  color: inherit;
  text-decoration: none;
}




/* forgot pass */
.forgot-pass {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#form-forgot-pass {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  -moz-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
}


.form-forgot-pass {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}

.form-forgot-pass .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-forgot-pass .form-control:focus {
  z-index: 2;
}
.form-forgot-pass input[type="email"], #basic-addon1 {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


#RolesTable{
  background-color: #fff;
  padding: 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  -moz-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  min-width: calc(100% - 350px);

}

.reset-pass {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#form-reset-pass {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  -moz-box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);
  box-shadow: 0px 13px 27px -4px rgba(240,237,240,0.83);

}


.form-reset-pass {
  width: 100%;
  max-width: 390px;
  padding: 15px;
  margin: 0 auto;
}

.form-reset-pass .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-reset-pass .form-control:focus {
  z-index: 2;
}
.form-reset-pass input[type="inputNewPassword"]{
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-reset-pass input[type="[inputRetypePassword]"]{
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}